.custom-background {
    background-color: #333A40;
    color: white; 
    font-family: 'Inter';
  }

  .id-number{
    font-weight: bolder;
  }


  .white-background {
    color: black; 
    font-family: 'Inter';
  }